
@keyframes loginLoading{
  0%{
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes nextStep{
  0%{
    transform: translateY(50%);
    opacity: 0.7;
  }
  100%{
    transform: translateY(100%);
    opacity: 0;
  }
}