
@keyframes loginLoading{
  0%{
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes nextStep{
  0%{
    transform: translateX(-30%);
    opacity: 1;
  }
  100%{
    transform: translateX(-500%);
    opacity: 0;
  }
}